<div class="container body">
    <div class="main_container">
        <app-sidebar-menu></app-sidebar-menu>
        <app-header></app-header>
        <!-- <app-main-content></app-main-content> -->

        <div class="right_col" role="main">
            <div class="row"> 
                <router-outlet></router-outlet>
                <!-- <app-user-info class="col-md-8 col-sm-12 pt-2"></app-user-info> -->
                <app-right-panel class="col-md-4 col-sm-12 pt-3 vh-scroll" style="background: #bfbbbb;"></app-right-panel>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>  

