.changeAgency {
    max-height: 500px;
    overflow: auto;
}

.vertical-line
{
    padding-left: 15px;
    border-left:1px solid;
}

.search-input {
    border: 0px;
    width: 274px;
    border-bottom: 1px solid gainsboro;
    margin: 7px 0px 2px 0px;
}