<div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
       <span aria-hidden="true">×</span>
    </button>
 </div>
 <div class="modal-body">
     <form [formGroup]="form" (ngSubmit)="submit()">
         <div class="row">
             <div class="col-sm-12 col-12">
                 <div class="form-group">
                    <input [type]="hide ? 'password' : 'text'" class="form-control" id="password" formControlName="password" placeholder="Password">
                     <div *ngIf="isSumbit && f.password.errors" style="display: block ;" class="invalid-feedback">
                         <div *ngIf="f.password.errors.required">Required</div>
                     </div>
                     <div *ngIf="isSumbit && f.password.errors" style="display: block ;" class="invalid-feedback">
                        <div *ngIf="f.password.errors.pattern">Password should be minimum 8 character long with Alpha(upper and lower case)  numeric and 1 special character</div>
                    </div>
                 </div> 
             </div>
         </div>
         <div class="row">
            <div class="col-sm-12 col-12">
                <div class="form-group">
                   <input [type]="hide ? 'password' : 'text'" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
                    <div *ngIf="isSumbit && f.confirmPassword.errors" style="display: block ;" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Required</div>
                    </div>
                    <div *ngIf="isSumbit" style="display: block ;" class="invalid-feedback">
                        <div *ngIf="passwordNotMatch">Password and Confirm Password should Match</div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="form-group">
                    <div style="margin-top: 10px"><input type="checkbox" (click)="showHidePassword()"> Show Password</div>
                </div> 
            </div>
        </div>
         <div class="modal-footer">
             <button type="button" type="submit" class="btn btn-default">Submit</button>
             <button type="button" class="btn btn-default" (click)="close()">Close</button>
          </div>
     </form>
 </div>
 

